@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style1 {
background-color: #ffffff;
margin-left: 0px;
margin-top: 0px;
width: 384px;
height: 96px;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 33px;
border-top-right-radius: 33px;
border-bottom-left-radius: 33px;
border-bottom-right-radius: 33px;
margin-left: 99px;
margin-top: 519px;
width: 178px;
height: 32px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style10 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 1.125em;
margin-left: 20px;
margin-top: 128px;
height: 19px;}
.style12 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 1.125em;
margin-left: 20px;
margin-top: 68px;
height: 19px;}
.style14 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 1.125em;
margin-left: 20px;
margin-top: 68px;
height: 19px;}
.style16 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 1.125em;
margin-left: 20px;
margin-top: 68px;
height: 19px;}
.style18 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 1.125em;
margin-left: 20px;
margin-top: 68px;
height: 19px;}
.style20 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 1.125em;
margin-left: 20px;
margin-top: 68px;
height: 19px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style1 {
background-color: #ffffff;
margin-left: 0px;
margin-top: 0px;
width: 786px;
height: 197px;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 33px;
border-top-right-radius: 33px;
border-bottom-left-radius: 33px;
border-bottom-right-radius: 33px;
margin-left: 203px;
margin-top: 1063px;
width: 365px;
height: 66px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style10 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.3040000000000003em;
margin-left: 41px;
margin-top: 262px;
height: 39px;}
.style12 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.3040000000000003em;
margin-left: 41px;
margin-top: 139px;
height: 39px;}
.style14 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.3040000000000003em;
margin-left: 41px;
margin-top: 139px;
height: 39px;}
.style16 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.3040000000000003em;
margin-left: 41px;
margin-top: 139px;
height: 39px;}
.style18 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.3040000000000003em;
margin-left: 41px;
margin-top: 139px;
height: 39px;}
.style20 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.3040000000000003em;
margin-left: 41px;
margin-top: 139px;
height: 39px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style1 {
background-color: #ffffff;
margin-left: 0px;
margin-top: 0px;
width: 942px;
height: 236px;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 33px;
border-top-right-radius: 33px;
border-bottom-left-radius: 33px;
border-bottom-right-radius: 33px;
margin-left: 243px;
margin-top: 1273px;
width: 437px;
height: 79px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style10 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.76em;
margin-left: 49px;
margin-top: 314px;
height: 47px;}
.style12 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.76em;
margin-left: 49px;
margin-top: 167px;
height: 47px;}
.style14 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.76em;
margin-left: 49px;
margin-top: 167px;
height: 47px;}
.style16 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.76em;
margin-left: 49px;
margin-top: 167px;
height: 47px;}
.style18 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.76em;
margin-left: 49px;
margin-top: 167px;
height: 47px;}
.style20 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 2.76em;
margin-left: 49px;
margin-top: 167px;
height: 47px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style1 {
background-color: #ffffff;
margin-left: 0px;
margin-top: 0px;
width: 1229px;
height: 307px;}
.style3 {
background-color: #ffffff;
border-left: 1px solid #707070;
border-right: 1px solid #707070;
border-top: 1px solid #707070;
border-bottom: 1px solid #707070;
border-top-left-radius: 33px;
border-top-right-radius: 33px;
border-bottom-left-radius: 33px;
border-bottom-right-radius: 33px;
margin-left: 317px;
margin-top: 1661px;
width: 570px;
height: 102px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style10 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 3.6em;
margin-left: 64px;
margin-top: 410px;
height: 61px;}
.style12 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 3.6em;
margin-left: 64px;
margin-top: 218px;
height: 61px;}
.style14 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 3.6em;
margin-left: 64px;
margin-top: 218px;
height: 61px;}
.style16 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 3.6em;
margin-left: 64px;
margin-top: 218px;
height: 61px;}
.style18 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 3.6em;
margin-left: 64px;
margin-top: 218px;
height: 61px;}
.style20 {
color: #000000;
font-family: 'helveticaneue',serif;
font-size: 3.6em;
margin-left: 64px;
margin-top: 218px;
height: 61px;}
}